{% extends "base.html" %}
{% block content %}
<form method="POST">
    <label>
                <div>title</div>
                <input type="text" name="blogtitle" value="{{ blogtitle }}">

            </label>
    <label>
                <div>new words</div>
                <textarea name="blogpost" value="{{ blogpost }}"></textarea>
            </label>
    <div class="error">{{ error }}</div>
    <input type="submit" vale="Submit">
</form>

<hr>
<h2>Older post</h2>
<div class="oldblogs">
{% for blogtitle in dbpost %}
    <div class="oldtitle"><a href="/blog/{{dbpost.key().id()}}"> {{dbpost.blogtitle}}</a></div>
    <pre class="oldpost">{{dbpost.blogpost}}</pre>
</div>
{% endfor %} {% endblock %}
